{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags  %}

{% comment %} <div class="d-flex flex-wrap justify-content-center ">
    {% for i in data %}
    <div class="col-sm-3 mb-3 mb-sm-0 px-3 pt-5">
      <div class="card">
        <div class="card-body">
            <p class="card-title"><b>Task Id: {{i.id}}</b></p>
            <p>Task Assigned Date: {{ i.tasks.taskAssignDate }}</p>
            <p> Task Description: {{ i.tasks.taskDescription }} </p>
            Task Category:
            {%for cat in i.Category.all %}
                <button disabled="disabled"class="btn btn-success mt-1">{{cat.categoryName}}</button>
            {% endfor %} <br>

            {% if i.tasks.is_completed %}
                <h3><b>Completed</b></h3>
            {% else %}
                <a href="{% url 'edit_task' i.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete_task' i.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
            
        </div>
      </div>
    </div>
{% endfor %}
  </div> {% endcomment %}

  <div class="d-flex flex-wrap justify-content-center ">
    {% for task in data %}
    <div class="col-sm-3 mb-3 mb-sm-0 px-3 pt-5">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title"> <b>Task Id:</b> {{task.id}}</h6>
            <h6 class="card-title"> <b>Task Title:</b> {{task.taskTitle}}</h6>
            <p class="card-text"> <b>Task Assigned Date:</b> {{ task.taskAssignDate }}</p>
            <p class="card-text"> <b>Task Description:</b>{{ task.taskDescription }}</p>

            <b>Task Category: </b>
            {% for category in task.categories.all %}
                    
                    <button disabled="disabled"class="btn btn-success mt-1">{{ category.categoryName }}</button>
            {% endfor %}

            <br>
            {% if task.is_completed %}
                <h3><b>Completed</b></h3>
            {% else %}
                <a href="{% url 'edit_task' task.id %}" class="btn btn-warning mt-1">Edit</a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger mt-1">Delete</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

{% endblock %}